.survey {
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 5rem;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.actions button {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 3px;
  background-color: #dfdfdf;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.actions button:hover {
  background-color: #cfcfcf;
}

.shop-cats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-cat-info {
  width: calc(33.33% - 2rem);
  margin-bottom: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
