.nav {
  background-color: #f9fafc;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 0.3rem solid black;
}

.menu-btn {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.menu-btn__burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn__burger-line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  font-size: 2.5rem;
  padding: 10px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  border-bottom: 2.5px solid black;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn__burger {
    transition: all 0.3s ease;
  }

  .nav-links {
    position: absolute;
    background-color: #f9fafc;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 2.7rem;
    left: -100%;
    transition: left 0.5s ease;
  }

  .nav-links.open {
    left: 0;
  }

  .nav-links li {
    text-align: center;
    padding: 20px 0;
  }

  .nav-links a:hover {
    border-bottom: 3px solid black;
  }
}
